.hero {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  padding: 20px;
  background: #090909; /* Dark gray for hero */
  color: white;
}
.hero img {
  width: 350px; /* Adjust the size of the profile image */
  height: auto;
  margin-bottom: 40px; /* Add spacing below the image */
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
  margin-top: -5px;
}
.hero h1 span {
  background: linear-gradient(270deg, #37b7e2 10%, #3d6dab 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 24px;
  text-align: center;
  width: 50%;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #70c6ff 0.36%, #0d457d 102.06%);
  cursor: pointer;
}

/*.hero-resume {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid #ff70ba;
  cursor: pointer;
}*/
.hero-connect:hover {
  border: 2px solid rgb(254, 254, 254);
}
.hero-resume:hover {
  /*border-color: rgb(255, 249, 249); */
}

/*button/*
/* Keep existing hero-resume for base styling */
.hero-resume {
  font-size: 17px;
  padding: 25px 45px;
  font-weight: 500;
  border-radius: 50px;
  /*border: 2px solid #faf6f8;*/
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: #1f2937; /* base background for animation contrast */
  color: rgb(255, 255, 255);
}

.hero-resume .label {
  position: relative;
  z-index: 2; /* make sure text is on top of animation */
}

.hero-resume .transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(132, 209, 248, 0.869);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-resume:hover .transition {
  width: 14em;
  height: 14em;
}

.hero-resume:active {
  transform: scale(0.97);
}

.hero-resume .gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50px;
  background-image: linear-gradient(
    rgba(184, 16, 16, 0),
    rgba(28, 12, 251, 0),
    rgba(246, 37, 183, 0.3)
  );
  z-index: 0;
}
