.hero {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text */
  padding: 20px;
}
.hero img {
  width: 350px; /* Adjust the size of the profile image */
  height: auto;
  margin-bottom: 40px; /* Add spacing below the image */
}

.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 90px;
  font-weight: 600;
  margin-top: -5px;
}
.hero h1 span {
  background: linear-gradient(270deg, #c5ead8 10%, #ff70ba 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  font-size: 24px;
  text-align: center;
  width: 50%;
  line-height: 40px;
}

.hero-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
.hero-connect {
  padding: 25px 45px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff70ba 0.36%, #c5ead8 102.06%);
  cursor: pointer;
}

.hero-resume {
  padding: 25px 45px;
  border-radius: 50px;
  border: 2px solid #ff70ba;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid blue;
}
.hero-resume:hover {
  border-color: black;
  
}
