.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: -10px; /* Move the logo to the left */
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
}

.nav-connect {
  padding: 20px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff70ba 0.36%, #c5ead8 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 50px;
}
.nav-connect:hover {
  transform: scale(1.05);
}
